################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SolidPrinciples/FileContentIndex/e98d2586-e8a6-4c0b-bcd2-1e92b80d0f93.vsidx
