################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SolidPrinciples/FileContentIndex/e98d2586-e8a6-4c0b-bcd2-1e92b80d0f93.vsidx
/.vs/SolidPrinciples/FileContentIndex/8cf41eb5-0c5a-45ed-a862-5f5b6e15ae35.vsidx
/.vs/SolidPrinciples/DesignTimeBuild
/.vs/SolidPrinciples/FileContentIndex
/.vs/SolidPrinciples/v17/.suo
/.vs/Solid/v17
